{% extends "base.html" %}
{% block title %}Lista de Proyectos{% endblock title %}
{% block content %}
    <h1>Lista de proyectos</h1>
    <ul>
        {% for proyecto in lista_proyectos %}
            <li>{{proyecto.id}}</li>
            <li>{{proyecto.nombre}}</li>
            <li>{{proyecto.descripcion}}</li>
            <li>{{proyecto.url}}</li>
            <li><a href="{% url 'editar_proyecto' proyecto.id %}">Editar</a></li>
            <li><a href="{% url 'eliminar_proyecto' proyecto.id %}">Eliminar</a></li>
            <li><a href="/proyectos/eliminar/{{proyecto.id}}">Eliminar</a></li>
            <hr>
        {% empty %}    
            <li>No se encuentran proyectos</li>
        {% endfor %}
    </ul>    

{% endblock  %}